<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunlsp.saas.service.dao.SaasUserMapper">
    <resultMap id="BaseResultMap" type="com.yunlsp.saas.service.bean.SaasUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="psw_salt" jdbcType="VARCHAR" property="pswSalt"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="account_expiry_date" jdbcType="TIMESTAMP" property="accountExpiryDate"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="is_admin" jdbcType="BIT" property="isAdmin"/>
        <result column="source" jdbcType="TINYINT" property="source"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, user_name, phone, password, create_time, create_by, modify_time, email,
    psw_salt, remark, avatar, status, account_expiry_date, company_id, is_admin, source
  </sql>

    <sql id="User_Detail">
        u.user_id as userId, u.user_name as userName,  u.phone, u.email, u.avatar, u.status,
      u.account_expiry_date as expiryDate,u.company_id,u.create_time as createTime,u.is_admin as isCompanyAdmin,
      c.id as companyKey, c.company_id as companyId, c.company_name as companyName,  c.business_no as businessNo,
      c.company_simple_name as companySimpleName
    </sql>

    <select id="selectUserInfoByUserId" parameterType="java.lang.String"
            resultType="com.yunlsp.saas.service.api.model.UserDetailModel">
        select
        <include refid="User_Detail"/>
        from user as u
        inner join company as c on u.company_id = c.id
        where user_id = #{userId}
    </select>

    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{userId}
    </select>
    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where phone = #{phone}
        and status = 1
        limit 1
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insert" parameterType="com.yunlsp.saas.service.bean.SaasUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="pswSalt != null">
                psw_salt,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="accountExpiryDate != null">
                account_expiry_date,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="isAdmin != null">
                is_admin,
            </if>
            <if test="source != null">
                source,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="pswSalt != null">
                #{pswSalt,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="accountExpiryDate != null">
                #{accountExpiryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="isAdmin != null">
                #{isAdmin,jdbcType=BIT},
            </if>
            <if test="source != null">
                #{source,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.yunlsp.saas.service.bean.SaasUser">
    update user
    set user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      psw_salt = #{pswSalt,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      account_expiry_date = #{accountExpiryDate,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=INTEGER},
      is_admin = #{isAdmin,jdbcType=BIT},
      source = #{source,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>